@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;600;700&display=swap');

:root{
    /* Colors */
    --color1:#172339;
    --color2:#49566D;
    --color3:#F3EDE7;
    --color4:#FAF8F6;
    --color5:#A060FF;
    --color6:#CB30E3;
    --color7:#FFA84E;
   
}

/* General */
html, body{
    margin: 0;
    font-family: 'Epilogue';
    width: 100vw;
    min-height: 100vh;
    max-width: 1440px;
    overflow-x: hidden;
    margin: 0 auto;
}

h1 {
    font-weight: 400;
    font-size: 38px;
    line-height: 44px;
    letter-spacing: -0.527778px;
    color: var(--color1);
}
h2 {
    font-size: 40px;
    letter-spacing: -0.416667px;
    font-weight: 400;
    line-height: 48px;
}

h1 span, h2 span {font-weight: 700;}

p {
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.0888889px;
    color: var(--color2);
}

.logo img {width: 80px;}

/* Button */
.button {
    border: 1px solid;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: var(--color1);
    letter-spacing: -0.14px;
    padding: 12px 15px;
    border-radius: 6px;
    width: fit-content;
}

/* Header */
header {
    padding: 30px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Hero */
.hero {
    padding: 50px 16px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.hero-text .button {
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: -0.18px;
    color: var(--color4);
    border-color: var(--color1);
    background:
    var(--color1);
}
.hero-img {width: 100%;}
.hero-img img {width: 100%;}

/* Hero Numbers */
.hero-numbers {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 30px;
    padding: 30px 0;
}
.number {
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    color: var(--color1);
}

.text {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.5px;
    text-transform: uppercase;
    color: var(--color2);
}

/* Bottom */
.bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--color1);
    border-radius: 15px;
    text-align: center;
    color: var(--color4);
    margin-top: 150px;
    padding: 64px 16px;
}

.bottom-img {margin-top: -235px;}

.bottom p {
    color: var(--color3);
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.09px;
}


.bottom-info {text-transform: uppercase;}
.name {
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
}

.job {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.5px;
}

/* Footer */
footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 50px;
    gap: 30px;
}


.copy {
    font-size: 15px;
    line-height: 32px;
    letter-spacing: 0.0833333px;
    color: var(--color2);
}

.redes {
    display: flex;
    justify-content: center;
    gap: 28px;
    font-size: 28px;
    cursor: pointer;
    color: var(--color1);
}

/* Tablet */
@media (min-width: 650px) {
    header {padding: 40px;}

    .button {
        font-size: 16px;
        line-height: 32px;
        letter-spacing: -0.16px;
    }


    .hero {
        padding: 40px;
        display: grid;
        grid-template-areas:
            "T T I"
            "N N N";
        gap: 0;
        display: grid;
        grid-template-columns: 1fr .25fr .5fr;
    }
    
    .hero-img {margin-left: -50px;grid-area: I;}
    
    .hero-text {z-index: 5;gap: 40px;display: flex;flex-direction: column;position: relative;grid-area: T;}

    h1 {
        font-size: 56px;
        line-height: 64px;
        letter-spacing: -0.777778px;
        width: 570px;
        margin-bottom: 0;
    }
    
    p {
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0.0888889px;
        color: var(--color2);
        max-width: 350px;
    }

    /* Hero */
    
    .hero-img img { width: unset;}
    
    .hero-numbers {
        flex-direction: row;
        grid-area: N;
        justify-content: space-between;
        padding: 50px 0;
    }

    /* Bottom */
    .bottom {margin: 180px 40px 10px;}
    
    /* Footer */
    footer {
        flex-direction: revert;
        justify-content: space-between;
    }
    .redes {font-size: 20px;}

}

/* Desktop */
@media (min-width: 1150px) {
    header {padding: 50px 165px;}

    h1 {width: unset;}
    h2 {
        font-size: 48px;
        line-height: 56px;
        letter-spacing: -0.5px;
        margin: 0;
    }
    
    p {
        font-size: 20px;
        line-height: 35px;
        letter-spacing: 0.1px;
    }
    
    .hero {
        all: unset;
        padding: 67px 165px;
        position: relative;
        grid-template-columns: 1fr 1fr;
        display: grid;
    }
    
    .hero-numbers {
        flex-direction: column;
        text-align: left;
    }
    
    .hero-text, .hero-img, .hero-numbers {grid-area: unset;}

    
    .hero-img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
    }

    .text {text-align: left;}

    .bottom {
        all: unset;
        display: flex;
        flex-direction: row;
        align-items: center;
        background: var(--color1);
        border-radius: 15px;
        text-align: center;
        justify-content: right;
        margin: 165px;
        margin-bottom: 60px;
        color: var(--color4);
        text-align: left;
        gap: 40px 0;
        padding: 80px 125px;
        position: relative;
    }
    
    .bottom-img {
        all: unset;
        position: absolute;
        left: 150px;
        bottom: -5px;
    }
    footer {padding: 60px 165px;}
}